%container {
  padding: 0 4%;
  margin: 0 auto;
}

/* =================== centerd element pattern =================*/
%centred {
  margin-left: auto;
  margin-right: auto;
}

/* =================== uppertitle decoration =================*/
%uppertitle {
  font-family: 'Gilroy Extrabold';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: map-get($color, 'accent');
}

%uppertitle-pseudo {
  content: '';
  display: inline-block;
  background-color: map-get($color, 'accent');
  width: 72px;
  height: 2px;
  margin-right: 24px;
}

/* =================== visually-hidden =================*/
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
