<footer id="footer" class="footer">
  <div class="footer__container container">
    <div class="footer__inner-container">
      <div class="footer__wrapper">
        <a href="./index.html" class="footer__logo logo">
          <svg class="logo__svg">
            <use href="./images/svg-sprite.svg#logo"></use>
          </svg>
        </a>
        <p class="footer__text">
          Get out there & discover your next <br />
          slope, mountain & destination!
        </p>
      </div>
      <div class="footer__thumb">
        <div class="footer__blog-nav blog-nav">
          <p class="blog-nav__title">More on The Blog</p>
          <ul class="blog-nav__list">
            <li class="blog-nav__item">
              <a href="" class="blog-nav__link">About MNTN</a>
            </li>
            <li class="blog-nav__item">
              <a href="" class="blog-nav__link">Contributors & Writers</a>
            </li>
            <li class="blog-nav__item">
              <a href="" class="blog-nav__link">Write For Us</a>
            </li>
            <li class="blog-nav__item">
              <a href="" class="blog-nav__link">Contact Us</a>
            </li>
            <li class="blog-nav__item">
              <a href="" class="blog-nav__link">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer_community-nav community-nav">
          <p class="community-nav__title">More on MNTN</p>
          <ul class="community-nav__list">
            <li class="community-nav__item">
              <a href="" class="community-nav__link">The Team</a>
            </li>
            <li class="community-nav__item">
              <a href="" class="community-nav__link">Jobs</a>
            </li>
            <li class="community-nav__item">
              <a href="" class="community-nav__link">Press</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="footer__copyrigth">Copyright 2019 MNTN, Inc. Terms & Privacy</p>
  </div>
</footer>
