<header id="header" class="header">
  <div class="hero_bg parallax">
    <div class="parallax__item">
      <div class="parallax__clouds"></div>
    </div>
    <div class="parallax__item">
      <div class="parallax__mountains"></div>
    </div>
    <div class="parallax__item">
      <div class="parallax__man"></div>
    </div>
  </div>
  <div class="header__container container">
    <a href="./index.html" class="header__logo logo">
      <svg class="logo__svg">
        <use href="./images/svg-sprite.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="mobile-menu__open-btn open-btn">
      <svg class="open-btn__svg">
        <use href="./images/svg-sprite.svg#menu"></use>
      </svg>
    </button>
    <div class="header__desktop-thumb">
      <nav class="header__nav nav">
        <a href="./index.html" class="nav__link">Equipment</a>
        <a href="./index.html" class="nav__link">About us</a>
        <a href="./index.html" class="nav__link">Blog</a>
      </nav>
      <button type="button" class="header__btn">Account</button>
    </div>
  </div>

  <!-- Mobile-menu -->
  <div class="mobile-menu__container mobile-menu">
    <button type="button" class="mobile-menu__close-btn close-btn">
      <svg class="close-btn__svg">
        <use href="./images/svg-sprite.svg#close"></use>
      </svg>
    </button>
    <nav class="header__mobile-nav mobile-nav">
      <a href="./index.html" class="mobile-nav__link">About us</a>
      <a href="./index.html" class="mobile-nav__link">Blog</a>
      <a href="./index.html" class="mobile-nav__link">Equipment</a>
    </nav>
    <button type="button" class="header__btn">Account</button>
  </div>
</header>
