<header id="header" class="header">
  <div class="hero_bg parallax">
    <div class="parallax__item">
      <div class="parallax__clouds"></div>
    </div>
    <div class="parallax__item">
      <div class="parallax__mountains"></div>
    </div>
    <div class="parallax__item">
      <div class="parallax__man"></div>
    </div>
  </div>
  <div class="header__container container">
    <a href="./index.html" class="header__logo logo">
      <svg class="logo__svg">
        <use href="./images/svg-sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav nav">
      <a href="#" class="nav__link">Equipment</a>
      <a href="#" class="nav__link">About us</a>
      <a href="#" class="nav__link">Blog</a>
    </nav>
    <button type="button" class="header__btn">Account</button>
  </div>
</header>
