<div class="overlay" hidden>
  <div class="modal">
    <form autocomplete="off" class="modal__form form">
      <h2 class="form__title">Enter your account</h2>
      <img class="form__svg" src="./images/mountain_1.svg" alt="" />
      <label class="form__label">
        Email
        <input type="email" name="email" class="form__input" required />
      </label>
      <label class="form__label">
        Password
        <input type="password" name="password" class="form__input" required />
      </label>
      <button class="form__btn" type="submit">Enter</button>
    </form>
  </div>
</div>
