<section class="content">
  <div class="content__container">
    <ul class="content__posts posts">
      <li class="posts__items" id="01">
        <div class="posts__thumb">
          <p class="posts__uppertitle">
            <span class="posts__number">01</span> Get Started
          </p>
          <h2 class="posts__title">What level of hiker are you?</h2>
          <p class="posts__text">
            Determining what level of hiker you are can be an important tool
            when planning future hikes. This hiking level guide will help you
            plan hikes according to different hike ratings set by various
            websites like All Trails and Modern Hiker. What type of hiker are
            you &ndash; novice, moderate, advanced moderate, expert, or expert
            backpacker?
          </p>
          <a href="#" class="posts__link">read more</a>
        </div>
        <img
          class="posts__img"
          loading="lazy"
          srcset="
            ./images/content/01-min.jpg    1x,
            ./images/content/01@2x-min.jpg 2x,
            ./images/content/01@3x-min.jpg 3x
          "
          src="./images/content/01-min.jpg"
          alt="Man walking in mountains"
        />
      </li>
      <li class="posts__items posts__items--right" id="02">
        <div class="posts__thumb">
          <p class="posts__uppertitle">
            <span class="posts__number">02</span> Hiking Essentials
          </p>
          <h2 class="posts__title">Picking the right Hiking Gear!</h2>
          <p class="posts__text">
            The nice thing about beginning hiking is that you don&apos;t really
            need any special gear, you can probably get away with things you
            already have. Let&apos;s start with clothing. A typical mistake
            hiking beginners make is wearing jeans and regular clothes, which
            will get heavy and chafe wif they get sweaty or wet.
          </p>
          <a href="" class="posts__link">read more</a>
        </div>
        <img
          class="posts__img"
          loading="lazy"
          srcset="
            ./images/content/02-min.jpg    1x,
            ./images/content/02@2x-min.jpg 2x,
            ./images/content/02@3x-min.jpg 3x
          "
          src="./images/content/02-min.jpg"
          alt="Man watching the mountains"
        />
      </li>
      <li class="posts__items" id="03">
        <div class="posts__thumb">
          <p class="posts__uppertitle">
            <span class="posts__number">03</span> where you go is the key
          </p>
          <h2 class="posts_posts_title">Understand Your Map & Timing</h2>
          <p class="posts__text">
            To start, print out the hiking guide and map. If it&apos;s raining,
            throw them in a Zip-Lock bag. Read over the guide, study the map,
            and have a good idea of what to expect. I like to know what my next
            landmark is as I hike. For example, I&apos;ll read the guide and
            know that say, in a mile, I make a right turn at the junction.
          </p>
          <a href="" class="posts__link">read more</a>
        </div>
        <img
          class="posts__img"
          loading="lazy"
          srcset="
            ./images/content/03-min.jpg    1x,
            ./images/content/03@2x-min.jpg 2x,
            ./images/content/03@3x-min.jpg 3x
          "
          src="./images/content/03-min.jpg"
          alt="Holding a compas in a hand"
        />
      </li>
    </ul>
  </div>
</section>
