<section id="hero" class="hero">
  <div class="hero__container container">
    <div class="hero__links links">
      <p class="links__text">Follow us</p>
      <ul class="links__list">
        <li class="links__item">
          <a
            href="#"
            class="links__link"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="instagram"
          >
            <svg class="links__svg">
              <use href="./images/svg-sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="links__item">
          <a
            href="#"
            class="links__link"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="twitter"
          >
            <svg class="links__svg">
              <use href="./images/svg-sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="hero__thumb">
      <p class="hero__uppertitle">A Hiking guide</p>
      <h1 class="hero__title">Be prepared for the Mountains and beyond!</h1>
      <a href="#footer" class="hero__link">scroll down</a>
    </div>
    <div class="hero__slider slider">
      <ul class="slider__list">
        <li class="slider__item">
          <a href="#hero" class="slider_ancors">Start</a>
        </li>
        <li class="slider__item">
          <a href="#01" class="slider_ancors">01</a>
        </li>
        <li class="slider__item">
          <a href="#02" class="slider_ancors">02</a>
        </li>
        <li class="slider__item">
          <a href="#03" class="slider_ancors">03</a>
        </li>
      </ul>
    </div>
  </div>
</section>
