.header {
  position: fixed;
  width: 100%;
}

// Parallax images

.parallax__item {
  position: absolute;
  top: -10%;
  left: -5%;
  width: 120vw;
  height: 120vh;
  z-index: -1;

  background-image: linear-gradient(
    324.26deg,
    rgba(11, 29, 38, 0.1) 14.52%,
    rgba(11, 29, 38, 0.5) 105.7%
  );
}

.parallax__clouds,
.parallax__mountains,
.parallax__man {
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
}

.parallax__clouds {
  top: -35%;
  background-image: url('../images/bg/Clouds-min.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg/Clouds@2x-min.png');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/bg/Clouds@3x-min.png');
  }
}

.parallax__mountains {
  top: 12%;
  background-image: url('../images/bg/Mountains-min.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg/Mountains@2x-min.png');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/bg/Mountains@3x-min.png');
  }
}

.parallax__man {
  top: 45%;
  background-image: url('../images/bg/Man-min.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg/Man@2x-min.png');
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/bg/Man@3x-min.png');
  }

  @media (max-aspect-ratio: 3/2) {
    background-position: 20% top;
  }
}

// End of parallax images

.header__container {
  @extend %container;
  @include flex(null, space-between, center);
  padding-top: 3%;

  @include media(min, desktop) {
    @include flex(null, space-between);
  }
}

.logo {
  display: inline-block;
  @include flex(null);

  &__svg {
    width: 108px;
    height: 24px;
  }
}

.open-btn {
  @include flex(null, center, center);
  width: 50px;
  height: 40px;

  @include media(min, tablet) {
    display: none;
  }

  &__svg {
    display: block;
    width: 40px;
    height: 30px;
    fill: currentColor;
  }
}

.header__desktop-thumb {
  display: none;

  @include media(min, tablet) {
    @include flex(null, space-between, center);
    width: 60%;
  }
}

.nav {
  &__link {
    display: inline-block;
    @include font-size(18px, 22px);

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.header__btn {
  @include flex(8px);
  @include font-size(17px, 21px);

  &::before {
    @include pseudo(24px, 24px);
    background-image: url('../images/account.svg');
    fill: currentColor;
  }
}

// Mobile menu styles

.mobile-menu {
  display: none;

  &.is-active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 10px 10px 10px 20px;
    background-color: map-get($color, 'main');
    color: map-get($color, 'text');

    @include media(min, phone) {
      padding: 10px 20px 10px 40px;
    }
  }

  & .header__btn {
    @include font-size(26px, 32px);
    &::before {
      display: none;
    }
  }
}

.close-btn {
  @include flex(null, center, center);
  width: 50px;
  height: 50px;
  margin-left: auto;

  &__svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: currentColor;
  }
}

.mobile-nav {
  margin-bottom: 15px;

  &__link {
    display: block;
    @include font-size(26px, 32px);

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover,
    &:focus {
      color: map-get($color, 'accent');
    }
  }
}
