.content {
  position: relative;
  top: 120vh;
  z-index: 0;
}

.posts {
  background-color: map-get($color, 'main');
  margin: 0 auto;

  &::before {
    position: absolute;
    z-index: 0;
    transform: translateY(-95%);
    @include pseudo(100%, 150px);
    background-image: linear-gradient(
        to top,
        #0b1d26,
        rgba(11, 29, 38, 0.6),
        rgba(11, 29, 38, 0)
      ),
      linear-gradient(to top, rgba(11, 29, 38, 0.8), rgba(11, 29, 38, 0));
    filter: blur(5px);

    @include media(min, tablet) {
      @include pseudo(100%, 200px);
    }
  }

  &__items {
    padding: 0 20px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    @include media(min, tablet) {
      padding: 0 30px;
      @include flex(5vw);

      &--right {
        flex-direction: row-reverse;
      }

      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }

    @include media(min, desktop) {
      @include flex(10vw);

      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
  }

  &__thumb {
    position: relative;
    width: 100%;

    @include media(min, desktop) {
      width: 33vw;
    }
  }

  &__number {
    @include position(absolute, top, 0, left, 0);
    display: block;
    @include font-size(100px, 100px);
    opacity: 0.1;
    transform: translate(-10%, -45%);

    @include media(min, desktop) {
      @include font-size(200px, 200px);
      transform: translate(-50%, -45%);
    }
  }

  &__uppertitle {
    margin-bottom: 27px;
    @extend %uppertitle;

    &::before {
      @extend %uppertitle-pseudo;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: 'Chronicle Display Semibold';
    font-weight: 600;
    @include font-size(38px, 46px);

    @include media(min, desktop) {
      margin-bottom: 27px;
      @include font-size(64px, 77px);
    }
  }

  &__text {
    margin-bottom: 15px;
    @include font-size(14px, 22px);

    @include media(min, desktop) {
      margin-bottom: 27px;
      @include font-size(18px, 32px);
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: map-get($color, 'accent');

    &::after {
      margin-left: 16px;
      @include pseudo(24px, 16px);
      background-image: url('../images/arrow-right.svg');
    }
  }

  &__img {
    display: none;

    @include media(min, tablet) {
      display: block;
      width: 29vw;
      height: auto;
    }
  }
}
